<div class="carta">
    <div class="rosto"><img src="{{(congressista | async)?.urlFoto}}"></div>
    <div class="titulo"><h4>{{(congressista | async)?.nomeParlamentar}}</h4></div>


    <div class="atributos container">
        <div class="row">
            <h3 class="col-md-8" tooltipPlacement="left"
                tooltip="Esteve presente em {{(congressista | async)?.presencas_stats['Presença']}}
                seções e faltou em outras {{(congressista | async)?.presencas_stats['Ausência']}}">
                Presença</h3>
            <h2 class="col-md-4">{{(congressista | async)?.score.presenca}}</h2>
        </div>
        <div class="row">
            <h3 class="col-md-8" tooltipPlacement="left"
                tooltip="É titular em {{(congressista | async)?.comissoes_stats['Titular']}} comissões">Influência</h3>
            <h2 class="col-md-4">{{(congressista | async)?.score.influencia}}</h2>
        </div>
        <div class="row">
            <h3 class="col-md-8" tooltipPlacement="left"
                [tooltipHtml]="proposicao_tooltip|async">Atividade</h3>
            <h2 class="col-md-4">{{(congressista | async)?.score.atividade}}</h2>
        </div>
    </div>
</div>