div.carta {
    width: 20em;
    height: 28em;
    background-image: url("/assets/img/card_template.png");
    background-size: 100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;

}

.carta .titulo{
    left: 4.13%;
    top: 3.52% ;
    width: 81.86%;
    height: 6.47%;
    position: absolute;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: white;
}
.titulo h3{
    margin: auto;
}


.carta .rosto {
    position: absolute;
    left: 4.26%;
    top: 11.14%;
    width: 91.47%;
    height: 48.8%;
    overflow: hidden;
    background-color: #FFFFFF;
}

.rosto img {
    width: 90%;
    left: 5%;
}

div.carta:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.atributos{
    float: left;
    position: absolute;
    top: 65.14%;
    left: 4.267%;
    width: 91.46%;
    height: 27.90%;
    font-weight: bold;
    color:white;
}

.atributos h3 {
    margin: 0;
    padding: 0;
}
.atributos h2 {
    float: right;
    margin: 0;
    padding: 0;
}
.atributos div {
    margin-top: 15px;
    margin-left: 5px;

    border-bottom:1px solid #313030;
}